In [1]:
import pandas as pd

In [2]:
file = "flightdata5y.csv"

In [3]:
df = pd.read_csv(file)
df.head()

,FLIGHTDATE,MONTH,Year,AIRLINECODE,AIRLINENAME,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,ORIGINSTATENAME,...,WHEELSON,TAXIIN,CRSARRTIME,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE
0,20160104,1,2016,DL,Delta Air Lines Inc.: DL,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,841.0,3.0,900,844.0,-16.0,120,111.0,F,F,748
1,20160110,1,2016,DL,Delta Air Lines Inc.: DL,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,837.0,4.0,902,841.0,-21.0,122,110.0,F,F,748
2,20160111,1,2016,OO,SkyWest Airlines Inc.: OO,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,1829.0,5.0,1855,1834.0,-21.0,85,72.0,F,F,387
3,20160116,1,2016,OO,SkyWest Airlines Inc.: OO,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,1402.0,12.0,1428,1414.0,-14.0,87,84.0,F,F,387
4,20160124,1,2016,DL,Delta Air Lines Inc.: DL,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,742.0,4.0,747,746.0,-1.0,87,89.0,F,F,387

In [4]:
df.shape

(237688, 30)

In [5]:
airlines = ["AA", "UA","DL","WN","NK"]
airline_info = df[df.AIRLINECODE.isin(airlines)]
airline_info.head()

,FLIGHTDATE,MONTH,Year,AIRLINECODE,AIRLINENAME,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,ORIGINSTATENAME,...,WHEELSON,TAXIIN,CRSARRTIME,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE
0,20160104,1,2016,DL,Delta Air Lines Inc.: DL,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,841.0,3.0,900,844.0,-16.0,120,111.0,F,F,748
1,20160110,1,2016,DL,Delta Air Lines Inc.: DL,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,837.0,4.0,902,841.0,-21.0,122,110.0,F,F,748
4,20160124,1,2016,DL,Delta Air Lines Inc.: DL,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,742.0,4.0,747,746.0,-1.0,87,89.0,F,F,387
5,20160131,1,2016,UA,United Air Lines Inc.: UA,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,1550.0,4.0,1622,1554.0,-28.0,97,79.0,F,F,455
6,20160131,1,2016,DL,Delta Air Lines Inc.: DL,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,727.0,4.0,747,731.0,-16.0,87,71.0,F,F,387

In [6]:
airline_info.shape

(127465, 30)

In [7]:
airports = ["ATL", "LAX","CHI","DFW","DEN", "JFK"]

data = airline_info.loc[airline_info.ORIGINAIRPORTCODE.isin(airports) | airline_info.DESTAIRPORTCODE.isin(airports)]


data.head()

,FLIGHTDATE,MONTH,Year,AIRLINECODE,AIRLINENAME,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,ORIGINSTATENAME,...,WHEELSON,TAXIIN,CRSARRTIME,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE
5,20160131,1,2016,UA,United Air Lines Inc.: UA,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,1550.0,4.0,1622,1554.0,-28.0,97,79.0,F,F,455
9,20160509,5,2016,UA,United Air Lines Inc.: UA,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,821.0,6.0,843,827.0,-16.0,93,80.0,F,F,455
10,20160514,5,2016,UA,United Air Lines Inc.: UA,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,1557.0,6.0,1617,1603.0,-14.0,92,82.0,F,F,455
12,20160524,5,2016,UA,United Air Lines Inc.: UA,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,1744.0,31.0,1533,1815.0,NaN,92,NaN,F,T,455
56,20160101,1,2016,AA,American Airlines Inc.: AA,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,946.0,11.0,1009,957.0,-12.0,79,65.0,F,F,226

In [8]:
data.shape

(52317, 30)

In [24]:
data.dropna(how="any")

,FLIGHTDATE,MONTH,Year,AIRLINECODE,AIRLINENAME,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,ORIGINSTATENAME,...,WHEELSON,TAXIIN,CRSARRTIME,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE
5,20160131,1,2016,UA,United Air Lines Inc.: UA,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,1550.0,4.0,1622,1554.0,-28.0,97,79.0,F,F,455
9,20160509,5,2016,UA,United Air Lines Inc.: UA,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,821.0,6.0,843,827.0,-16.0,93,80.0,F,F,455
10,20160514,5,2016,UA,United Air Lines Inc.: UA,BIL,BillingsMT: Billings Logan International,Billings,MT,Montana,...,1557.0,6.0,1617,1603.0,-14.0,92,82.0,F,F,455
56,20160101,1,2016,AA,American Airlines Inc.: AA,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,946.0,11.0,1009,957.0,-12.0,79,65.0,F,F,226
57,20160101,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,2212.0,4.0,2219,2216.0,-3.0,141,138.0,F,F,721
58,20160101,1,2016,WN,Southwest Airlines Co.: WN,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1731.0,7.0,1725,1738.0,13.0,140,137.0,F,F,721
61,20160101,1,2016,WN,Southwest Airlines Co.: WN,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,2006.0,5.0,2015,2011.0,-4.0,70,66.0,F,F,270
62,20160101,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,2030.0,8.0,2048,2038.0,-10.0,85,78.0,F,F,321
64,20160101,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1848.0,6.0,1706,1854.0,108.0,141,109.0,F,F,760
65,20160101,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,2330.0,6.0,2347,2336.0,-11.0,99,93.0,F,F,526
66,20160101,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1632.0,4.0,1628,1636.0,8.0,78,64.0,F,F,356
67,20160101,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1123.0,4.0,1135,1127.0,-8.0,90,72.0,F,F,481
68,20160102,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,2324.0,4.0,2326,2328.0,2.0,65,72.0,F,F,259
69,20160102,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1007.0,5.0,1016,1012.0,-4.0,117,102.0,F,F,591
70,20160102,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,840.0,5.0,849,845.0,-4.0,84,80.0,F,F,373
74,20160102,1,2016,WN,Southwest Airlines Co.: WN,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1100.0,5.0,1100,1105.0,5.0,70,66.0,F,F,270
75,20160102,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,954.0,2.0,1005,956.0,-9.0,110,102.0,F,F,646
77,20160102,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1008.0,31.0,1025,1039.0,14.0,305,320.0,F,F,1947
78,20160102,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1304.0,5.0,1309,1309.0,0.0,119,120.0,F,F,594
79,20160102,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1348.0,7.0,1345,1355.0,10.0,160,156.0,F,F,907
80,20160102,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,2138.0,3.0,2158,2141.0,-17.0,73,61.0,F,F,317
81,20160102,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1153.0,5.0,1210,1158.0,-12.0,130,118.0,F,F,760
82,20160102,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,2006.0,13.0,2008,2019.0,11.0,148,161.0,F,F,760
83,20160102,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1915.0,11.0,1904,1926.0,22.0,139,158.0,F,F,762
84,20160102,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,2244.0,8.0,2309,2252.0,-17.0,144,126.0,F,F,760
86,20160102,1,2016,AA,American Airlines Inc.: AA,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,821.0,3.0,834,824.0,-10.0,114,108.0,F,F,666
88,20160102,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1322.0,3.0,1335,1325.0,-10.0,260,243.0,F,F,1587
90,20160102,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,31.0,8.0,2251,39.0,108.0,166,148.0,F,F,874
91,20160102,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1523.0,4.0,1539,1527.0,-12.0,92,85.0,F,F,444
92,20160102,1,2016,NK,Spirit Air Lines: NK,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,2244.0,6.0,2056,2250.0,114.0,81,87.0,F,F,406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237544,20120103,1,2012,DL,Delta Air Lines Inc.: DL,CMH,ColumbusOH: Port Columbus International,Columbus,OH,Ohio,...,938.0,6.0,1019,944.0,-35.0,109,80.0,F,F,447
237551,20120109,1,2012,AA,American Airlines Inc.: AA,CMH,ColumbusOH: Port Columbus International,Columbus,OH,Ohio,...,1535.0,15.0,1610,1550.0,-20.0,175,160.0,F,F,926
237567,20120119,1,2012,DL,Delta Air Lines Inc.: DL,CMH,ColumbusOH: Port Columbus International,Columbus,OH,Ohio,...,720.0,6.0,745,726.0,-19.0,105,92.0,F,F,447
237571,20120120,1,2012,WN,Southwest Airlines Co.: WN,CMH,ColumbusOH: Port Columbus International,Columbus,OH,Ohio,...,1551.0,6.0,1520,1557.0,37.0,190,195.0,F,F,1154
237587,20120129,1,2012,DL,Delta Air Lines Inc.: DL,CMH,ColumbusOH: Port Columbus International,Columbus,OH,Ohio,...,1406.0,8.0,1431,1414.0,-17.0,104,92.0,F,F,447
237589,20120131,1,2012,DL,Delta Air Lines Inc.: DL,CMH,ColumbusOH: Port Columbus International,Columbus,OH,Ohio,...,1413.0,9.0,1431,1422.0,-9.0,104,100.0,F,F,447
237590,20120501,5,2012,DL,Delta Air Lines Inc.: DL,CAE,ColumbiaSC: Columbia Metropolitan,Columbia,SC,South Carolina,...,1613.0,8.0,1638,1621.0,-17.0,68,55.0,F,F,192
237591,20120503,5,2012,DL,Delta Air Lines Inc.: DL,CAE,ColumbiaSC: Columbia Metropolitan,Columbia,SC,South Carolina,...,1730.0,5.0,1638,1735.0,57.0,68,58.0,F,F,192
237592,20120511,5,2012,DL,Delta Air Lines Inc.: DL,CAE,ColumbiaSC: Columbia Metropolitan,Columbia,SC,South Carolina,...,751.0,10.0,811,801.0,-10.0,71,61.0,F,F,192
237600,20120523,5,2012,DL,Delta Air Lines Inc.: DL,CAE,ColumbiaSC: Columbia Metropolitan,Columbia,SC,South Carolina,...,749.0,7.0,811,756.0,-15.0,71,61.0,F,F,192
237607,20120915,9,2012,DL,Delta Air Lines Inc.: DL,CAE,ColumbiaSC: Columbia Metropolitan,Columbia,SC,South Carolina,...,730.0,5.0,752,735.0,-17.0,67,52.0,F,F,192
237609,20120917,9,2012,DL,Delta Air Lines Inc.: DL,CAE,ColumbiaSC: Columbia Metropolitan,Columbia,SC,South Carolina,...,2043.0,10.0,1911,2053.0,102.0,76,67.0,F,F,192
237617,20120105,1,2012,DL,Delta Air Lines Inc.: DL,CAE,ColumbiaSC: Columbia Metropolitan,Columbia,SC,South Carolina,...,1351.0,15.0,1408,1406.0,-2.0,73,77.0,F,F,192
237621,20120113,1,2012,DL,Delta Air Lines Inc.: DL,CAE,ColumbiaSC: Columbia Metropolitan,Columbia,SC,South Carolina,...,1405.0,15.0,1408,1420.0,12.0,73,87.0,F,F,192
237635,20120506,5,2012,AA,American Airlines Inc.: AA,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,1604.0,5.0,1615,1609.0,-6.0,105,103.0,F,F,592
237641,20120515,5,2012,AA,American Airlines Inc.: AA,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,1039.0,9.0,1055,1048.0,-7.0,110,107.0,F,F,592
237642,20120517,5,2012,AA,American Airlines Inc.: AA,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,1306.0,10.0,1330,1316.0,-14.0,110,102.0,F,F,592
237644,20120518,5,2012,AA,American Airlines Inc.: AA,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,825.0,11.0,855,836.0,-19.0,115,103.0,F,F,592
237652,20120101,1,2012,AA,American Airlines Inc.: AA,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,1900.0,6.0,1910,1906.0,-4.0,110,94.0,F,F,592
237654,20120102,1,2012,AA,American Airlines Inc.: AA,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,1544.0,5.0,1600,1549.0,-11.0,105,103.0,F,F,592
237659,20120118,1,2012,AA,American Airlines Inc.: AA,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,818.0,20.0,900,838.0,-22.0,120,108.0,F,F,592
237667,20120121,1,2012,AA,American Airlines Inc.: AA,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,1005.0,6.0,1025,1011.0,-14.0,115,111.0,F,F,592
237668,20120126,1,2012,AA,American Airlines Inc.: AA,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,1325.0,10.0,1345,1335.0,-10.0,105,102.0,F,F,592
237670,20120127,1,2012,DL,Delta Air Lines Inc.: DL,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,1059.0,7.0,1130,1106.0,-24.0,173,155.0,F,F,1184
237671,20120127,1,2012,AA,American Airlines Inc.: AA,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,1539.0,15.0,1600,1554.0,-6.0,105,106.0,F,F,592
237673,20120901,9,2012,AA,American Airlines Inc.: AA,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,1559.0,8.0,1620,1607.0,-13.0,105,98.0,F,F,592
237678,20120909,9,2012,AA,American Airlines Inc.: AA,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,1610.0,13.0,1620,1623.0,3.0,105,111.0,F,F,592
237680,20120915,9,2012,AA,American Airlines Inc.: AA,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,1350.0,12.0,1325,1402.0,37.0,105,117.0,F,F,592
237682,20120918,9,2012,AA,American Airlines Inc.: AA,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,832.0,11.0,850,843.0,-7.0,110,111.0,F,F,592
237686,20120925,9,2012,AA,American Airlines Inc.: AA,COS,Colorado SpringsCO: City of Colorado Springs M...,Colorado Springs,CO,Colorado,...,1022.0,12.0,1045,1034.0,-11.0,110,105.0,F,F,592

In [25]:
data.dtypes

FLIGHTDATE             int64
MONTH                  int64
Year                   int64
AIRLINECODE           object
AIRLINENAME           object
ORIGINAIRPORTCODE     object
ORIGAIRPORTNAME       object
ORIGINCITYNAME        object
ORIGINSTATE           object
ORIGINSTATENAME       object
DESTAIRPORTCODE       object
DESTAIRPORTNAME       object
DESTCITYNAME          object
DESTSTATE             object
DESTSTATENAME         object
CRSDEPTIME             int64
DEPTIME              float64
DEPDELAY             float64
TAXIOUT              float64
WHEELSOFF            float64
WHEELSON             float64
TAXIIN               float64
CRSARRTIME             int64
ARRTIME              float64
ARRDELAY             float64
CRSELAPSEDTIME         int64
ACTUALELAPSEDTIME    float64
CANCELLED             object
DIVERTED              object
DISTANCE               int64
dtype: object

In [26]:
delay_data = data.loc[(data["DEPDELAY"] > 0) | (data["ARRDELAY"] > 0) | (data["CANCELLED"] == "T")]

delay_data.head()

,FLIGHTDATE,MONTH,Year,AIRLINECODE,AIRLINENAME,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,ORIGINSTATENAME,...,WHEELSON,TAXIIN,CRSARRTIME,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE
56,20160101,1,2016,AA,American Airlines Inc.: AA,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,946.0,11.0,1009,957.0,-12.0,79,65.0,F,F,226
58,20160101,1,2016,WN,Southwest Airlines Co.: WN,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1731.0,7.0,1725,1738.0,13.0,140,137.0,F,F,721
64,20160101,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1848.0,6.0,1706,1854.0,108.0,141,109.0,F,F,760
66,20160101,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1632.0,4.0,1628,1636.0,8.0,78,64.0,F,F,356
67,20160101,1,2016,DL,Delta Air Lines Inc.: DL,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,Georgia,...,1123.0,4.0,1135,1127.0,-8.0,90,72.0,F,F,481

In [27]:
delay_data.shape

(24811, 30)

In [35]:
airlinecode = data.groupby(["AIRLINECODE"])
airlinecode.count().head()

,FLIGHTDATE,MONTH,Year,AIRLINENAME,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,ORIGINSTATENAME,DESTAIRPORTCODE,...,WHEELSON,TAXIIN,CRSARRTIME,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE
AIRLINECODE,,,,,,,,,,,,,,,,,,,,,
AA,13655,13655,13655,13655,13655,13655,13655,13434,13434,13655,...,13430,13430,13655,13430,13379,13655,13379,13655,13655,13655
DL,22147,22147,22147,22147,22147,22147,22147,22064,22064,22147,...,21981,21981,22147,21981,21941,22147,21941,22147,22147,22147
NK,669,669,669,669,669,669,669,669,669,669,...,662,662,669,662,661,669,661,669,669,669
UA,6435,6435,6435,6435,6435,6435,6435,6401,6401,6435,...,6369,6369,6435,6369,6357,6435,6357,6435,6435,6435
WN,9411,9411,9411,9411,9411,9411,9411,9319,9319,9411,...,9315,9315,9411,9315,9299,9411,9299,9411,9411,9411

In [14]:
data["AIRLINECODE"].value_counts()

DL    22147
AA    13655
WN     9411
UA     6435
NK      669
Name: AIRLINECODE, dtype: int64

In [30]:

# Using GroupBy in order to separate the data into fields according to "state" values
ordered_year = data.groupby(["Year"])

# The object returned is a "GroupBy" object and cannot be viewed normally...
#print(grouped_usa_df)

# In order to be visualized, a data function must be used...
ordered_year.count().head(10)

,FLIGHTDATE,MONTH,AIRLINECODE,AIRLINENAME,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,ORIGINSTATENAME,DESTAIRPORTCODE,...,WHEELSON,TAXIIN,CRSARRTIME,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE
Year,,,,,,,,,,,,,,,,,,,,,
2012,9979,9979,9979,9979,9979,9979,9979,9886,9886,9979,...,9898,9898,9979,9898,9886,9979,9886,9979,9979,9979
2013,9481,9481,9481,9481,9481,9481,9481,9377,9377,9481,...,9422,9422,9481,9422,9396,9481,9396,9481,9481,9481
2014,10675,10675,10675,10675,10675,10675,10675,10571,10571,10675,...,10463,10463,10675,10463,10440,10675,10440,10675,10675,10675
2015,12925,12925,12925,12925,12925,12925,12925,12843,12843,12925,...,12807,12807,12925,12807,12776,12925,12776,12925,12925,12925
2016,9257,9257,9257,9257,9257,9257,9257,9210,9210,9257,...,9167,9167,9257,9167,9139,9257,9139,9257,9257,9257

In [33]:
ordered_year_month = data.groupby(["Year", "MONTH"])
ordered_year_month.count().head(30)

            FLIGHTDATE  AIRLINECODE  AIRLINENAME  ORIGINAIRPORTCODE  \
Year MONTH
2012 1            3172         3172         3172               3172
     5            3461         3461         3461               3461
     9            3346         3346         3346               3346
2013 1            3037         3037         3037               3037
     5            3428         3428         3428               3428
     9            3016         3016         3016               3016
2014 1            3364         3364         3364               3364
     5            3552         3552         3552               3552
     9            3759         3759         3759               3759
2015 1            4145         4145         4145               4145
     5            4385         4385         4385               4385
     9            4395         4395         4395               4395
2016 1            4402         4402         4402               4402
     5            4855         4855         4855               4855

            ORIGAIRPORTNAME  ORIGINCITYNAME  ORIGINSTATE  ORIGINSTATENAME  \
Year MONTH
2012 1                 3172            3172         3140             3140
     5                 3461            3461         3431             3431
     9                 3346            3346         3315             3315
2013 1                 3037            3037         3000             3000
     5                 3428            3428         3399             3399
     9                 3016            3016         2978             2978
2014 1                 3364            3364         3323             3323
     5                 3552            3552         3517             3517
     9                 3759            3759         3731             3731
2015 1                 4145            4145         4120             4120
     5                 4385            4385         4363             4363
     9                 4395            4395         4360             4360
2016 1                 4402            4402         4377             4377
     5                 4855            4855         4833             4833

            DESTAIRPORTCODE  DESTAIRPORTNAME    ...     WHEELSON  TAXIIN  \
Year MONTH                                      ...
2012 1                 3172             3172    ...         3146    3146
     5                 3461             3461    ...         3450    3450
     9                 3346             3346    ...         3302    3302
2013 1                 3037             3037    ...         3008    3008
     5                 3428             3428    ...         3408    3408
     9                 3016             3016    ...         3006    3006
2014 1                 3364             3364    ...         3203    3203
     5                 3552             3552    ...         3513    3513
     9                 3759             3759    ...         3747    3747
2015 1                 4145             4145    ...         4077    4077
     5                 4385             4385    ...         4347    4347
     9                 4395             4395    ...         4383    4383
2016 1                 4402             4402    ...         4325    4325
     5                 4855             4855    ...         4842    4842

            CRSARRTIME  ARRTIME  ARRDELAY  CRSELAPSEDTIME  ACTUALELAPSEDTIME  \
Year MONTH
2012 1            3172     3146      3145            3172               3145
     5            3461     3450      3446            3461               3446
     9            3346     3302      3295            3346               3295
2013 1            3037     3008      3002            3037               3002
     5            3428     3408      3395            3428               3395
     9            3016     3006      2999            3016               2999
2014 1            3364     3203      3199            3364               3199
     5            3552     3513      3501            3552               3501
     9            3759     3747      3740            3759               3740
2015 1            4145     4077      4070            4145               4070
     5            4385     4347      4335            4385               4335
     9            4395     4383      4371            4395               4371
2016 1            4402     4325      4318            4402               4318
     5            4855     4842      4821            4855               4821

            CANCELLED  DIVERTED  DISTANCE
Year MONTH
2012 1           3172      3172      3172
     5           3461      3461      3461
     9           3346      3346      3346
2013 1           3037      3037      3037
     5           3428      3428      3428
     9           3016      3016      3016
2014 1           3364      3364      3364
     5           3552      3552      3552
     9           3759      3759      3759
2015 1           4145      4145      4145
     5           4385      4385      4385
     9           4395      4395      4395
2016 1           4402      4402      4402
     5           4855      4855      4855

[14 rows x 28 columns]

In [36]:
grouped_ymcode = data.groupby(["Year", "MONTH","AIRLINECODE"])
grouped_ymcode.count().head(20)

                        FLIGHTDATE  AIRLINENAME  ORIGINAIRPORTCODE  \
Year MONTH AIRLINECODE
2012 1     AA                  946          946                946
           DL                 1356         1356               1356
           UA                  410          410                410
           WN                  460          460                460
     5     AA                  990          990                990
           DL                 1492         1492               1492
           UA                  419          419                419
           WN                  560          560                560
     9     AA                  906          906                906
           DL                 1467         1467               1467
           UA                  437          437                437
           WN                  536          536                536
2013 1     AA                  968          968                968
           DL                 1169         1169               1169
           UA                  388          388                388
           WN                  512          512                512
     5     AA                  980          980                980
           DL                 1437         1437               1437
           UA                  445          445                445
           WN                  566          566                566

                        ORIGAIRPORTNAME  ORIGINCITYNAME  ORIGINSTATE  \
Year MONTH AIRLINECODE
2012 1     AA                       946             946          925
           DL                      1356            1356         1355
           UA                       410             410          408
           WN                       460             460          452
     5     AA                       990             990          972
           DL                      1492            1492         1487
           UA                       419             419          415
           WN                       560             560          557
     9     AA                       906             906          889
           DL                      1467            1467         1464
           UA                       437             437          431
           WN                       536             536          531
2013 1     AA                       968             968          945
           DL                      1169            1169         1166
           UA                       388             388          386
           WN                       512             512          503
     5     AA                       980             980          961
           DL                      1437            1437         1432
           UA                       445             445          445
           WN                       566             566          561

                        ORIGINSTATENAME  DESTAIRPORTCODE  DESTAIRPORTNAME  \
Year MONTH AIRLINECODE
2012 1     AA                       925              946              946
           DL                      1355             1356             1356
           UA                       408              410              410
           WN                       452              460              460
     5     AA                       972              990              990
           DL                      1487             1492             1492
           UA                       415              419              419
           WN                       557              560              560
     9     AA                       889              906              906
           DL                      1464             1467             1467
           UA                       431              437              437
           WN                       531              536              536
2013 1     AA                       945              968              968
           DL                      1166             1169             1169
           UA                       386              388              388
           WN                       503              512              512
     5     AA                       961              980              980
           DL                      1432             1437             1437
           UA                       445              445              445
           WN                       561              566              566

                        DESTCITYNAME    ...     WHEELSON  TAXIIN  CRSARRTIME  \
Year MONTH AIRLINECODE                  ...
2012 1     AA                    946    ...          930     930         946
           DL                   1356    ...         1350    1350        1356
           UA                    410    ...          407     407         410
           WN                    460    ...          459     459         460
     5     AA                    990    ...          987     987         990
           DL                   1492    ...         1490    1490        1492
           UA                    419    ...          416     416         419
           WN                    560    ...          557     557         560
     9     AA                    906    ...          872     872         906
           DL                   1467    ...         1464    1464        1467
           UA                    437    ...          432     432         437
           WN                    536    ...          534     534         536
2013 1     AA                    968    ...          951     951         968
           DL                   1169    ...         1162    1162        1169
           UA                    388    ...          388     388         388
           WN                    512    ...          507     507         512
     5     AA                    980    ...          964     964         980
           DL                   1437    ...         1435    1435        1437
           UA                    445    ...          443     443         445
           WN                    566    ...          566     566         566

                        ARRTIME  ARRDELAY  CRSELAPSEDTIME  ACTUALELAPSEDTIME  \
Year MONTH AIRLINECODE
2012 1     AA               930       930             946                930
           DL              1350      1349            1356               1349
           UA               407       407             410                407
           WN               459       459             460                459
     5     AA               987       986             990                986
           DL              1490      1488            1492               1488
           UA               416       416             419                416
           WN               557       556             560                556
     9     AA               872       871             906                871
           DL              1464      1462            1467               1462
           UA               432       432             437                432
           WN               534       530             536                530
2013 1     AA               951       948             968                948
           DL              1162      1160            1169               1160
           UA               388       387             388                387
           WN               507       507             512                507
     5     AA               964       957             980                957
           DL              1435      1431            1437               1431
           UA               443       442             445                442
           WN               566       565             566                565

                        CANCELLED  DIVERTED  DISTANCE
Year MONTH AIRLINECODE
2012 1     AA                 946       946       946
           DL                1356      1356      1356
           UA                 410       410       410
           WN                 460       460       460
     5     AA                 990       990       990
           DL                1492      1492      1492
           UA                 419       419       419
           WN                 560       560       560
     9     AA                 906       906       906
           DL                1467      1467      1467
           UA                 437       437       437
           WN                 536       536       536
2013 1     AA                 968       968       968
           DL                1169      1169      1169
           UA                 388       388       388
           WN                 512       512       512
     5     AA                 980       980       980
           DL                1437      1437      1437
           UA                 445       445       445
           WN                 566       566       566

[20 rows x 27 columns]